.availability {
  display: inline-block;
  &:NOT(.has-date) {
    .day {
      width: 90px;
    }
  }
}

.day {
  color: inherit;
  cursor: pointer;
  user-select: none;
  margin: 0 15px;

  .day-month {
    width: 30px;
    text-align: center;

    .day-number {
      font-weight: bold;
      font-size: 120%;
      margin: 0;
    }

    .day-name {
      font-size: 90%;
    }
  }
}

.time {
  width: 100px;
}

.to {
  padding: 0 15px;
}

.hidden {
  visibility: hidden;
}

.time-row {
  display: flex;
  align-items: center;

  &.none {
    display: none;
  }
}

.day-row {
  display: flex;
  align-items: baseline;
}

.action {
  margin-left: 10px;
}