<div class="availability" [ngClass]="{ 'has-date': !!startDate }">
  @for (day of days; track day; let dayIndex = $index) {
    @if (startDate && dayIndex === 0) {
      <fs-month-divider
        [monthName]="weekDays[dayIndex].monthName">
      </fs-month-divider>
    }
    <div
      class="day-row">
      <mat-checkbox
        [name]="'selectedDay' + day"
        [(ngModel)]="dayAvailabilities[dayIndex].selected"
        (ngModelChange)="selectedClick()">
      </mat-checkbox>
      <a
        class="day"
        (click)="dayClick(day)">
        @if (!startDate) {
          <span class="full">{{Days[day]}}</span>
          <span class="abr">{{DayAbrs[day]}}</span>
        }
        @if (startDate) {
          <div
            class="day-month">
            <div class="day-number">{{ weekDays[dayIndex].dayOfMonth }}</div>
            <div class="day-name">{{ weekDays[dayIndex].dayOfWeek }}</div>
          </div>
        }
      </a>
      <div>
        @for (time of dayAvailabilities[dayIndex].times; track time; let timeIndex = $index) {
          <fs-availability-slot
            class="time-row"
            [ngClass]="{
              disabled: !dayAvailabilities[dayIndex].selected,
              none: !dayAvailabilities[dayIndex].selected && timeIndex > 0
            }"
            [dayTimes]="dayTimes"
            [nextDayTimes]="nextDayTimes"
            [timeAvailability]="time"
            [dayAvailability]="dayAvailabilities[dayIndex]"
            [day]="day"
            [dayIndex]="dayIndex"
            [disabled]=" !dayAvailabilities[dayIndex].selected"
            [timeIndex]="timeIndex"
            [validateTimeFn]="validateTime"
            [defaultStartScrollTo]="defaultStartScrollTo"
            [defaultEndScrollTo]="defaultEndScrollTo"
            (change)="change()"
            (timeAdd)="timeAddClick($event)"
            (timeDelete)="timeDeleteClick($event)">
          </fs-availability-slot>
        }
      </div>
    </div>
    @if (startDate && weekDays[dayIndex].isEndOfMonth && weekDays[dayIndex + 1]) {
      <fs-month-divider
        [monthName]="weekDays[dayIndex + 1].monthName">
      </fs-month-divider>
    }
  }
</div>
