.availability {
  display: inline-block;

  &:not(.has-date) {
    .day {
      width: 80px;
    }
  }

  .day {
    color: inherit;
    cursor: pointer;
    user-select: none;
    margin: 0 15px;

    .abr {
      display: none;
    }

    .day-month {
      width: 30px;
      text-align: center;

      .day-number {
        font-weight: bold;
        font-size: 120%;
        margin: 0;
      }

      .day-name {
        font-size: 90%;
      }
    }
  }

  ::ng-deep {
    .mat-form-field-subscript-wrapper {
      position: absolute;
      width: 130px;
    }
  }
}

.time {
  width: 80px;
}

.to {
  padding: 0 12px;
}

.hidden {
  visibility: hidden;
}

.time-row {
  display: flex;
  align-items: baseline;

  &.none {
    display: none;
  }
}

.day-row {
  display: flex;
  align-items: baseline;
}

::ng-deep {
  .next-day-panel-class {
    .mat-optgroup-label {
      position: sticky;
      top: 0;
      z-index: 1;
      background: #fff;
    }
  }
}

@media (max-width: 600px) {
  .availability {
    &:not(.has-date) {
      .day {
        width: 25px;
      }
    }

    .day {
      .full {
        display: none;
      }
      
      .abr {
        display: block;
      }
    }
  }
}