<mat-form-field
  class="time form-field-padless-top">
  <mat-select
    #startSelect
    [disabled]="disabled"
    (openedChange)="openedChangeStart($event, startSelect, timeAvailability)"
    [fsFormRequired]="!!dayAvailability.selected"
    [name]="'startDayTime' + timeIndex + day"
    [(ngModel)]="timeAvailability.start"
    (ngModelChange)="changeStart(timeAvailability)"
    [validate]="validateTimeFn"
    [validateData]="{ day: day, dayIndex: dayIndex, timeIndex: timeIndex }">
    @for (time of startTimes; track time) {
      <mat-option
        [value]="time.seconds">
        {{ time.label }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>
<div
  class="to">
  to
</div>
<mat-form-field class="time form-field-padless-top">
  <mat-select
    #endSelect
    [disabled]="disabled"
    (openedChange)="openedChangeEnd($event, endSelect, timeAvailability)"
    [fsFormRequired]="!!dayAvailability.selected"
    [name]="'endDayTime' + timeIndex + day"
    [(ngModel)]="timeAvailability.end"
    [panelClass]="'next-day-panel-class'"
    (ngModelChange)="changeEnd(timeAvailability)">
    @for (time of endTimes; track time) {
      <mat-option
        [value]="time.seconds">
        {{time.label}}
      </mat-option>
    }
    <mat-optgroup
      [label]="'Next Day'">
      @for (time of nextDayTimes; track time) {
        <mat-option
          [value]="time.seconds">
          {{time.label}}
        </mat-option>
      }
    </mat-optgroup>
  </mat-select>
  @if (timeAvailability.end > daySeconds) {
    <mat-hint>
      Next Day
    </mat-hint>
  }
</mat-form-field>
@if (timeIndex === 0) {
  <button
    type="button"
    class="action"
    mat-icon-button
    (click)="timeAddClick()">
    <mat-icon>add</mat-icon>
  </button>
}
@if (timeIndex !== 0) {
  <button
    type="button"
    class="action"
    mat-icon-button
    (click)="timeDeleteClick()">
    <mat-icon>delete_outline</mat-icon>
  </button>
}
